# Paste URL deployment Google Apps Script kamu di sini
# Didapat setelah Deploy → New Deployment → Web App di script.google.com
NEXT_PUBLIC_GAS_URL=https://script.google.com/macros/s/PASTE_DEPLOYMENT_ID_DISINI/exec

# Spreadsheet ID (sudah fix, tidak perlu diubah)
NEXT_PUBLIC_SPREADSHEET_ID=1H5Tan7X3TpRysyXXFXcUweioqhik576W7GXNoUPR-Aw
